<div>
  <h1>[DevBlog] Recuperação de Senha</h1>
  <div class="form-group">
    <h2>Olá, {{name}}!</h2>
    <p>Recebemos uma solicitação de troca de senha para o email: {{email}}</p>
    <p>Se foi você, clique no botão abaixo para criar uma nova senha.</p>
    <p>
      <a href="{{link}}">Resetar senha</a>
    </p>
    <p>
      Caso não tenha solicitado a troca de senha, nenhuma ação precisa ser
      tomada.
    </p>
    <br/>
    <p>Obrigado! Equipe DevBlog</p>
  </div>
</div>
